      - name: AIX dyntrk
        shell:
          chdir: /dev
          cmd: |
            set -o pipefail
            ls fscsi* | xargs -I % sh -c '{ echo %; lsattr -El %; }' | awk '/fscsi/ {tmpfscsi=$1; flag=1; next} flag && /dyntrk/ && !/{{ var_dyntrk }}/ {print tmpfscsi,$1,$2; flag=0}'
        register: command_output
        when: ansible_distribution == 'AIX'
        changed_when: False
        tags: dyntrk

      - debug:
          var=command_output.stdout_lines
        when: ansible_distribution == 'AIX' and command_output.stdout_lines
        tags: dyntrk