      - name: Hdisk hcheck_interval
        shell:
          chdir: /dev
          cmd: |
            set -o pipefail
            ls hdisk* | xargs -I % sh -c '{ echo %; lsattr -El %; }' | awk '/hdisk/ {tmphdisk=$1; flag=1; next} flag && /hcheck_interval/ && !/{{ var_hcheck_interval }}/ {print tmphdisk,$1,$2; flag=0}'
        register: command_output
        when: ansible_distribution == 'AIX'
        changed_when: False
        tags: hcheck_interval

      - debug:
          var=command_output.stdout_lines
        when: ansible_distribution == 'AIX' and command_output.stdout_lines
        tags: hcheck_interval