      - name: no -a rfc1323
        shell:
          cmd: |
            set -o pipefail
            no -a | awk '/rfc1323/ && !/{{ var_rfc1323 }}/ {print $1,$3}'
        register: command_output
        when: ansible_distribution == 'AIX'
        changed_when: False
        tags: rfc1323

      - debug:
          var=command_output.stdout_lines
        when: ansible_distribution == 'AIX' and command_output.stdout_lines
        tags: rfc1323