      - name: AIX sys0
        shell:
          cmd: |
            set -o pipefail
            lsattr -El sys0 | awk '/maxuproc/ && !/{{ var_sys0 }}/ {print "sys0",$2}'
        register: command_output
        when: ansible_distribution == 'AIX'
        changed_when: False
        tags: sys0

      - debug:
          var=command_output.stdout_lines
        when: ansible_distribution == 'AIX' and command_output.stdout_lines
        tags: sys0