      - name: no -a tcp_sendspace
        shell:
          cmd: |
            set -o pipefail
            no -a | awk '/tcp_sendspace/ && !/{{ var_tcp_sendspace }}/ {print $1,$3}'
        register: command_output
        when: ansible_distribution == 'AIX'
        changed_when: False
        tags: tcp_sendspace

      - debug:
          var=command_output.stdout_lines
        when: ansible_distribution == 'AIX' and command_output.stdout_lines
        tags: tcp_sendspace