      - name: no -a udp_sendspace
        shell:
          cmd: |
            set -o pipefail
            no -a | awk '/udp_sendspace/ && !/{{ var_udp_sendspace }}/ {print $1,$3}'
        register: command_output
        when: ansible_distribution == 'AIX'
        changed_when: False
        tags: udp_sendspace

      - debug:
          var=command_output.stdout_lines
        when: ansible_distribution == 'AIX' and command_output.stdout_lines
        tags: udp_sendspace